# Workflow to fetch the latest commit hash on the main branch and upload artifacts to CF storage.
name: "Release Step 1: Build & Upload Programs (pre-release.yaml)"
on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  solana-program-names:
    name: Get all Solana programs
    runs-on: blacksmith-2vcpu-ubuntu-2204
    outputs:
      releases: ${{ steps.prepare-release.outputs.releases }}
      commit_hash: ${{ steps.get-commit-hash.outputs.hash }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get install -y jq

      - name: Get latest commit hash
        id: get-commit-hash
        run: |
          echo "hash=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
          echo "short_hash=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Prepare JSON output for release
        id: prepare-release
        run: |
          RELEASES_JSON=$(find programs -maxdepth 1 -mindepth 1 -type d | \
            sed 's|programs/||' | \
            jq -R . | \
            jq -s --arg commit "${{ steps.get-commit-hash.outputs.short_hash }}" 'map({
              package_name: .,
              version: $commit,
              package_git_tag: "\(.)_\($commit)"
            })')
          echo "releases=$(echo "$RELEASES_JSON" | jq -c)" >> "$GITHUB_OUTPUT"

  build:
    needs: solana-program-names
    uses: ./.github/workflows/reusable-build.yaml
    with:
      commit-hash: ${{ needs.solana-program-names.outputs.commit_hash }}
      environment: ${{ vars.CF_BUCKET_ROOT_KEY }}
    secrets: inherit

  upload:
    needs: [solana-program-names, build]
    strategy:
      matrix:
        releases: ${{ fromJson(needs.solana-program-names.outputs.releases) }}

    uses: ./.github/workflows/reusable-upload.yaml
    permissions:
      id-token: write
      contents: read
    with:
      package-name: ${{ matrix.releases.package_name }}
      package-version: ${{ matrix.releases.version }}
      package-git-tag: ${{ matrix.releases.package_git_tag }}
      artifact-name: ${{ needs.build.outputs.artifact-name }}
      artifact-path: ${{ needs.build.outputs.artifact-path }}
      cf-bucket-name: ${{ vars.CF_BUCKET_NAME }}
      cf-config-bucket-root-key: ${{ vars.CF_BUCKET_ROOT_KEY }}
      github-release: false
    secrets:
      github-token: ${{ secrets.PAT_TOKEN }}
      cf-endpoint-url: ${{ secrets.CF_ENDPOINT_URL }}
      cf-bucket-access-key-id: ${{ secrets.CF_BUCKET_ACCESS_KEY_ID }}
      cf-bucket-secret-access-key: ${{ secrets.CF_BUCKET_SECRET_ACCESS_KEY }}
